KAFKA_BOOTSTRAP_SERVERS=
KAFKA_API_KEY=
KAFKA_API_SECRET=
KAFKA_GROUP_ID=notification-service-group

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=
EMAIL_APP_PASSWORD=

SUPPORT_EMAIL=support@cinema.com
